# Mail.ru SMTP settings
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USER=your_mail
SMTP_PASSWORD=M1o3YiL2kr3GizaL293K
SMTP_FROM=your_mail
SMTP_USE_TLS=false
SMTP_USE_SSL=true

# JWT
SECRET_KEY=sqrs-random-coffee-backend
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Database
DATABASE_URL=sqlite:///./app.db
